.element-content {
  position: relative;
}

.element-content .element-item {
  position: absolute;
}

.element-content .element-item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.component-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.component-list .component-item {
  width: 48%;
  height: 60px;
  margin: 2% 0;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.component-list .component-item:hover {
  background-color: rgba(160, 207, 255, 0.2);
  border: 1px solid #c6e2ff;
}

.component-list .component-item i {
  font-size: 30px;
}

.component-list .component-item p {
  font-size: 12px;
  user-select: none;
}

.element-focus::after {
  border: 2px dashed #409eff;
}

.line-x {
  position: absolute;
  top: 0;
  bottom: 0;
  border-left: 1px dashed #409eff;
}

.line-y {
  position: absolute;
  left: 0;
  right: 0;
  border-top: 1px dashed #409eff;
}
